<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<!-- CSS -->
    <link rel="stylesheet" href="master.css">
    <title>Document</title>
</head>
<body>
    <div id="root">
        <div class="container">
            <h1>ToDo</h1>
            <ul class="todos">
                <li v-for="todo in todoComputed">
                    <span class="title"
                    :class="(todo.status == 'done') ? 'trash' : '' "
                    >{{ todo.title }}</span>

                    <span class="controls check"
                    @click="check (todo)" 
                    v-if="todo.status != 'done'">
                    <i class="fas fa-check"></i>
                    </span>
                    
                    <span class="controls edit"
                    v-if="todo.status != 'done'">
                    <i class="far fa-edit">
                    </i></span>

                    <span v-if="todo.status == 'done'" class="remove"
                    @click="remove (todo)">
                        <i class="fas fa-trash"></i>
                    </span>
                </li>
            </ul>
        <input v-model="input" type="text" placeholder="Inserici nuovo ToDo" @keyup.enter="add">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="master.js"></script>
</body>
</html>