body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: -webkit-linear-gradient(top right, #FFFFFF 0%, #AACFEF 100%);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 700px;
    box-shadow: -2px 5px 8px #888888;
    border-radius: 25px;
    background-image: -webkit-linear-gradient(top right, #FFFFFF 0%, #AACFEF 100%);
}

.todos{
    list-style: none;
}

h1{
    font-size: 50px;
}

ul.todos li .controls{
    float: right;
    padding: 0 5px;
    padding-bottom: 8px;;
}

ul.todos li:after{
    content: '';
    display: table;
    clear: both;
}

.trash{
    text-decoration: line-through;
}

.remove{
    float: right;
    padding: 0 5px;
    padding-bottom: 8px;;
}